# Ignore node modules
node_modules

# Ignore development environment files
.env.development
.env.production

# Ignore TypeScript build output
dist

# Ignore temporary files
Temp/

# Ignore pnpm lock file
pnpm-lock.yaml

# Ignore misc
**/.DS_Store